/* 
  tablet 

  до 768px
*/

@media (max-width: 768px) {
    /* .container {
        width: 100%;
    } */
      
    .col-tablet-8 {
        width: 100%;
    }
      
    .col-tablet-7 {
        width: 87.5%;
    }
      
    .col-tablet-6 {
        width: 75%;
    }
      
    .col-tablet-5 {
        width: 62.5%;
    }
      
    .col-tablet-4 {
        width: 50%;
    }
      
    .col-tablet-3 {
        width: 37.5%;
    }
      
    .col-tablet-2 {
        width: 25%;
    }
      
    .col-tablet-1 {
        width: 12.5%;
    }

    .col-tablet-0 {
        display: none;
    }

    .tablet-align-left {
        text-align: left;
    }

    .tablet-align-right {
        text-align: right;
    }

    .tablet-align-center {
        text-align: center;
    }

    .logo-container {
        padding: 0;
        text-align: center;
    }

    .photodiary {
        background-image: url('');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 50% 40%;
    }
    
    .description {
        padding-bottom: 56px;
    }

    .col-desktop-3 .h3 {
        margin-top: 0;
        padding-top: 56px;
    }

    .col-desktop-1 .h2 {
        margin-top: 0;
        padding-top: 70px;
    }

    .article-end {
        padding-bottom: 0px;
    }

    
    .girl-image-container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .col-desktop-2 .h4, .circle-container {
        padding-top: 56px;
    }

    .circle-text {
        padding-bottom: 0;
    }

    .special {
        padding-top: 56px;
    }

    .col-desktop-2 .h5, .single-comment:last-child, .tablet-padding-bottom {
        padding-bottom: 56px;
    }

    .col-desktop-7 .h2 {
        margin-top: 0;
        padding-top: 56px;
    }

    .features {
        padding-bottom: 56px;
    }

    .nav-item {
        padding: 56px 0;
    }
}